[2017-02-27 21:09] DaveInTO opened #1 "Rotation"
Possible to disable rotation on all the sub pages except 1?
I've tried many of the solutions on SO, for NavBar UI, but they don't seem to work with this.

Thanks,
Dave

[2017-03-01 06:31] AndreyArzhannikov commented on #1
Hi @DaveInTO

Unfortunately, at the moment current version of the library doesn't support rotation feature. I'm going to implement it in next release.

Thanks!

[2017-03-03 11:42] berkerbilgi opened #2 "Using with tabbar"
Hello i have one tabbar and navigation bar for each item inside tabbar.

    var contentList = [MenuItemContentViewController]()
    let storyboard = UIStoryboard(name: "Main", bundle: nil)
    let tabbarVC = storyboard.instantiateViewController(withIdentifier: "TabBarViewController") as! TabBarViewController
    contentList.append(tabbarVC as MenuItemContentViewController)

I am trying to add tab

[2017-03-03 13:31] AndreyArzhannikov commented on #2
Hi @berkerbilgi

It looks like you try to use incompatible types because `UITabBarController` cannot be an inheritor from `MenuItemContentViewController` that is required to put in `contentList`.

So at the moment current version of the library doesn't support working with `UITabBarController`. Sorry about it.

But there is a workaround you might use. You can create TabBarVC that is a  inheritor f

[2017-03-09 12:26] cagricolak opened #3 "have a navigationviewcontroller support ?"
i want to use navigationviewcontroller on my one of view controller instantiate from your api but i getting this error.
_Could not cast value of type 'Mosyo.EntriesController' to 'UINavigationController'_

[code]

how can i fix this ?

thanks.

[2017-03-16 16:28] seancrowe5 opened #4 "Content turns white when menu open"
In your animation, it shows the content from an itemViewController when the menu is open. In your Sample app and in my implementation the content disappears and you can only see a blank white view controller off to the side. I'm probably missing something simple to maintain the itemViewController content after it animates to the right.

Edit: That was a worded poorly haha When we're looking at the

[2017-03-18 17:03] AndreyArzhannikov commented on #4
Hi @seancrowe5

To show content when the menu is open you should use `menuTransitionOptionsBuilder()` and change `visibleContentWidth`.
Here's an example:
[code]

If you use simulator iPhone 7 iOS 10.2 you can see that content view is white when the menu is open. It's really looks like a bug within iOS simulator, just try to use another version of simulator or real device. In such case It works as

[2017-03-27 15:54] SirSamShaw opened #5 "coco pod not working"
When installing pod I get the error "Unable to find a specification for InteractiveSlideMenu"

[2017-03-29 21:44] amrangry opened #6 "RightSideMenu support?"
how can i do right menu  ?
and also if it possible to change with according to the app locale language

[2017-03-31 13:14] AlbertoLourenco commented on #5
Same problem here.

[2017-03-31 15:53] progn commented on #5
You need to update your spec repo: `pod repo update`

[2017-04-07 04:27] vravath opened #7 "How can i move to other view without click on menu item?"

[2017-04-07 17:40] ketulbshah opened #8 "How can i pop to rootview ? is there Support for navigationcontroller ?"
I have sign out button in side menu. when i click this button i want to pop to root view. How i can do this ?Kindly support asap.

Thank you.
Smartberrry

[2017-04-08 08:22] AndreyArzhannikov commented on #8
Hi, @ketulbshah
Could you add more details about your questions?

[2017-04-08 08:57] #4 closed

[2017-04-11 10:15] stealdre opened #9 "How to remove damping effect?"
Hi, I want to remove the damping effect in the open and close animations. How can I only set curveEaseOut animation for both? Thanks

[2017-04-11 11:47] douglas-srs commented on #1
Can't wait for rotation support :D

[2017-04-12 07:42] okonor commented on #7
@vravath If you mean move from one view controller (FirstViewController in sample) to another view controller (SecondViewController) without menu opening, it's not possible now. If no, please, provide more details.
Thank you for your question. Feel free to send pull requests to us.

[2017-04-12 09:19] okonor commented on #9
You should set `useFinishingSpringOption` and `useCancelingSpringOption` of *TransitionOptionsBuilder* to **false** and set `animationOptions` to desired one. It's `.curveEaseInOut` by default.

It'll look like this
[code]
You can find more details, concerning menu implementation, into the documentation.

[2017-04-12 10:09] stealdre commented on #9
great! thanks a lot!

[2017-04-12 10:44] okonor commented on #6
Now there is no opportunity to create right menu. If you need this, please, create pull request, we'll consider your idea.
What are you going to change according to the app locale language? All titles are set from your application, you can handle it as you want.

[2017-04-12 19:21] #9 closed

[2017-04-13 08:58] okonor commented on #3
Hi @cagricolak,

Now the library doesn't support working with `UINavigationController`.

You can use workaround to add NavigationController to your application. You should create `NavigationViewController` that is an inheritor of `MenuItemContentViewController` and then to add actual UINavigationController as a child view controller.

Here is an example:

[code]

Thank you for your question. Addin

[2017-04-13 13:20] douglas-srs commented on #1
I managed to get some kind of rotation support by adding this to MenuViewController.swift

`func delay(seconds: Double, completion:@escaping ()->()) {
        let popTime = DispatchTime.now() + Double(Int64( Double(NSEC_PER_SEC) * seconds )) / Double(NSEC_PER_SEC)
        DispatchQueue.main.asyncAfter(deadline: popTime) {
            completion()
        }
    }

    open override func viewWillTra

[2017-04-15 13:21] ketulbshah commented on #8
In details : What i want to is "like in normal application, first we open Login page then after signin we open side menu... and on signout button, again want to pop at rootview. ...

I got solution...i have to dismiss menu then i have to call poptorootview for go to rootview of navigation

 self.dismiss(animated: false, completion: nil)
   _ = self.nav?.popToRootViewController(animated: true)

[2017-04-15 13:31] ketulbshah opened #10 "How can showmenu inside of navigation page ?"
Hi,

I have 5 pages inside side menu..
One of that is HomePage.

My flow is like this.

HomePage (tableview) >> CategoryPage

Now From this category page when click button for showmenu getting error like bellow
Could not cast value of type 'UINavigationController' (0x2ee9244) to 'InteractiveSideMenu.MenuContainerViewController' (0x544ab0).

Kindly provide solution for this.

[2017-04-17 05:05] AndreyArzhannikov commented on #8
@ketulbshah Thanks for sharing specific details and describing your solution!

So feel free send us pull requests with improvements! 😉

[2017-04-17 05:06] #8 closed

[2017-04-17 05:13] AndreyArzhannikov commented on #10
@ketulbshah Hi!

Unfortunately, there is no support of `UINavigationController` at the moment, but you can use some workaround. You can see more details [here](https://github.com/handsomecode/InteractiveSideMenu/issues/3).

Thanks for your question!

[2017-04-17 05:14] #10 closed

[2017-04-17 05:17] #5 closed

[2017-04-17 05:20] AndreyArzhannikov commented on #1
@douglas-srs Thanks for sharing some workaround for rotation feature!

[2017-04-21 10:01] thundenilla opened #11 "Storyboard to Nib"
Hi i'm still new in IOS development. a quick question, is there anyway to implement this into Nib? Since most of my modules I'm using Nib, so for me to implement this using storyboard very confusing for me. Thank you.

[2017-04-21 12:48] AndreyArzhannikov commented on #11
Hi @thundenilla Hi!
Yes, sure!  it's possible to use Nib files. So the library doesn't use storyboard usage.
You just need to provide `menuViewController` and `contentViewControllers` instances to use the library. So you can create it any way you want.

Thanks for your question!

[2017-04-24 05:48] #11 closed

[2017-04-25 02:16] vravath commented on #7
of curse, that is what i mean. but now i found solution on it by using notificationCenter to help so i can move from FirstViewController to SecondViewCountroller without clicking your menu. thank for your awesome library

[2017-04-26 13:39] schulz89sp commented on #3
Hello, should I create a NavigationViewController.swift file and copy the code?
Then how do I call it from the HostViewController?

[2017-04-27 07:12] cagricolak commented on #3
thanks everyone I fix that

[2017-04-27 07:12] #3 closed

[2017-04-27 08:56] okonor commented on #3
The new version is planned to be out at the end of the next week.

[2017-04-27 09:03] #7 closed

[2017-04-27 20:23] guedesbgeorge opened #12 "Lateral menu cover current view"
Hi!
I have a lateral menu on the left side of my screen. Right now, when I tap the menu button, the lateral menu comes from the left side and pushes my current view to the right.
I was wondering if it's possible to have the lateral menu covers my current view instead of pushing to the right. Also, if it isn't, is there any workaround that I can do to achieve that?

Thanks a lot!
And thanks for thi

[2017-04-28 08:17] okonor commented on #12
Hi @guedesbgeorge,

Unfortunately, our library doesn't have this type of customization. And it's not our focus right now.

But you can update transition animation in the library to get desired behavior. Take a look into `startTransition`, `updateTransition` and `finishTransition` methods of `MenuAnimator.swift`.
Feel free to ask any questions, concerning transition implementation.

Thank you for y

[2017-05-30 04:39] shaqir opened #15 "White Screen While opening Side menu only in iphone 7 & 7 +"
Hii Team ,

I have used your this control in my most recent work & it's working really nice except it goes blank or say white screen on iPhone 7 & 7+ while i open it from Left side button with didOpenMenu() function. i don't get it why it just happening only in this particular device only. please help me.
Thank you.

[2017-05-30 10:38] okonor commented on #15
Hi Sakir,

Do you have this issue on the real device or on simulator only?
The cause of this blank screen may be an [empty screenshot](https://stackoverflow.com/questions/40188089/swift-3-why-does-the-snapshot-from-snapshotview-appears-blank-in-iphone-7-plus) received from UIView.

Please, check it on the device. If you still have this issue, please, provide us more details about your testing envi

[2017-05-30 10:58] shaqir commented on #15
Hello Olga ,

i have checked in simulator only and its working fine with all except
iPhone 7 n 7+ yet I will check in real device once i will have iPhone 7.

Thank you for your help.

On Tue, May 30, 2017 at 4:08 PM, Olga Konoreva <notifications@github.com>
wrote:

--

*Sakir Saiyed iPhone Developer*

*+91- 8849042287*

*+91- 9979510478*
*SakirSaiyed29@gmail.com <SakirSaiyed29@gmail.com>*
*Shaqir2

[2017-05-31 07:43] okonor commented on #15
It looks like you use the old XCode version. This issue has been fixed in XCode 8.3. Please, check the screenshots: [iPhone 7 (iOS 10.2)](https://cl.ly/2u1U2g0S0U0b) and [iPhone 7 (iOS 10.3)](https://cl.ly/1C0P3r1h2O28).
On iOS 10.3 menu works pretty well.

[2017-05-31 18:05] #12 closed

[2017-06-04 10:06] amiinous commented on #2
For those who might have been struggling with this approach:
1. If TabBarViewController is not a viewController in the StoryBoard, the `self.storyboard!` should be changed to
`let someStoryboard = UIStoryBoard(name: "Main", bundle: nil)`
`let innerTabBarVC = someStoryboard.instantiateViewController(withIdentifier: "InnerTabBar") as! InnerTabBarViewController`

2. The `showMenu()` function cannot b

[2017-06-05 04:55] AndreyArzhannikov commented on #2
@amiinous Thanks for sharing some details about a described approach!

Btw, in the near future, we are going to release next version of our library where we simplify working with TabBarVC and NavigationVC. So, stay tuned on, please.

[2017-06-05 06:08] shaqir commented on #15
@okonor yes , its working fine. i just checked with new Xcode 8.3 in iphone 7.

Great work guys.

[2017-06-05 06:08] #15 closed

[2017-06-05 08:30] someyura opened #17 "Spring Animation parameters customization"
On the main page, you've written that your menu supports "spring animation with params customization". On the same page at the example code, there is no a single word about how to do that. And when I'm looking into the "Sample Code" for more details, I see the very same example code that doesn't clarify spring customization.

I've looked into your source code and tried to do it in the same way, bu

[2017-06-05 09:04] okonor commented on #17
Huge thanks, Yury, for your question.

You are doing everything right. It's the library issue. The new version will be released in the coming days. The bug will be fixed there.

Thank you very much again. Please, feel free ask more questions or send pull-requests to us.

[2017-06-07 06:14] amiinous commented on #2
Hi Andrey,

is it possible to share the code for the sample gif in the Readme. (i.e. the MenuViewController) ?

[2017-06-07 09:38] okonor commented on #2
Hi @amiinous,

This gif is just a sample of using SideBar menu. It's a part of commercial projects and, unfortunately, we haven't enough rights to share its code.

And we are ready to answer any specific questions concerning implementation of `MenuViewController` if you have them.

Thank you for your comments.

[2017-06-07 09:42] amiinous commented on #2
Thanks Olga. I understand.
Cant wait to see upcoming commits.

[2017-06-08 05:19] okonor commented on #17
This issue has been fixed in version 2.0 - https://github.com/handsomecode/InteractiveSideMenu/releases/tag/2.0.

Thanks again for your comment.

[2017-06-08 05:19] #17 closed

[2017-06-08 05:20] #6 closed

[2017-06-08 05:22] okonor commented on #1
The rotation feature is available in [new Side Menu version](https://github.com/handsomecode/InteractiveSideMenu/releases/tag/2.0). You can try it!

[2017-06-08 05:22] #1 closed

[2017-06-08 05:27] okonor commented on #2
`UITabBarController` and `UINavigationViewController` is now supported in [SideMenu 2.0](https://github.com/handsomecode/InteractiveSideMenu/releases/tag/2.0). Please, take a look into the new version and simplified approach of adding menu items. Check Sample, if necessary.

Good luck!

[2017-06-08 07:28] amiinous commented on #2
Congrats ;)
is cocoapod update available?
(It shows InteractiveSideMenu 1.0 instead of 2.0)

[2017-06-08 07:38] okonor commented on #2
We are working on it right now. Will be ready soon :)

[2017-06-08 08:10] okonor commented on #2
Yeah, now it's ready https://cl.ly/2V3U0y0H0E3Y. Please, check it and close the issue if everything is ok.

Have fun.

[2017-06-09 14:30] Recouse commented on #3
@okonor Probably hasn’t added support NavigationController.

[2017-06-09 18:08] DaveInTO commented on #2
README needs some updating.
or a migration guide.
Spent a good bit looking at the sample to get my 1.0 version working.

[2017-06-11 10:33] Recouse opened #21 "NavigationViewController support"
Please add NavigationViewController support.

[2017-06-11 19:46] phr85 commented on #21
I had same problem.
Solution: Create Subclass of UINavigationController and add SideMenuItemContent protocol.

In your view controller:
` let navController = navigationController as! YourCustomNavigationViewController
        navController.showSideMenu()`

Hope this helps.

[2017-06-12 14:11] Recouse commented on #21
I can't create subclass of UINavigationController and add MenuItemContentViewController protocol.

[2017-06-12 16:19] Recouse commented on #21
I've done as shown here https://github.com/handsomecode/InteractiveSideMenu/issues/3#issuecomment-293832998

But I can't use buttons to open menu:
[code]

[2017-06-12 16:51] Recouse commented on #21
I updated to the latest version 2.0 where added NavigationController support.
All works.

[2017-06-12 16:51] #21 closed

[2017-06-12 16:53] Recouse opened #22 "showSideMenu() no response"
In `SideMenuItemContent` added this code:
[code]
and:
[code]

But when I click the button there is no response.

[2017-06-13 03:58] AndreyArzhannikov commented on #22
Hi, @Recouse

Thanks for your question!

Please make sure that you already added your viewController that implements  `SideMenuItemContent` protocol to an array of `contentViewControllers` within your container VC.

Here's an [example](https://github.com/handsomecode/InteractiveSideMenu/blob/master/Sample/Sample/HostViewController.swift#L48).

Let us know if it doesn't help you.

[2017-06-13 04:03] AndreyArzhannikov commented on #2
@DaveInTO
Thanks for your comments. We will add a migration guide soon.

[2017-06-13 04:04] #2 closed

[2017-06-13 07:43] Recouse commented on #22
Yes, I've added my viewController to an array of `contentViewControllers`. In that list my UINavigationController which connected with viewController. In array of `contentViewControllers` my UINavigationController's id.

[2017-06-13 15:09] AndreyArzhannikov commented on #22
@Recouse Unfortunately, We weren't able to reproduce this issue.
So, could you provide more detailed information about your case? It would be great to see some code examples.

[2017-06-13 16:08] Recouse commented on #22
Here is an example https://www.dropbox.com/s/d38804nrngl0lo8/TestApp.zip?dl=1

[2017-06-14 05:56] okonor commented on #22
Hi Firdavs,

UINavigationViewController should adopt `SideMenuItemContent` protocol directly, not any other connected controllers:

[code]

I've updated the code of your `ViewController` file and now menu opens.

Hope, it'll help you.

[2017-06-14 07:34] Recouse commented on #22
@okonor Now it works. Thanks.

[2017-06-14 07:34] #22 closed

[2017-06-14 10:46] okonor commented on #2
Hi @DaveInTO,

You could use [ChangeLog](https://github.com/handsomecode/InteractiveSideMenu/blob/master/CHANGELOG.md) file to migrate to the newer version. Weren't Migration Notes from that file helpful enough?

It's very important for us to hear your opinion to be able to improve guides if it's necessary. Thanks a lot!

[2017-06-14 13:56] DaveInTO commented on #2
All good now, when i used the sample as a guide, it didn't have UIViewController.
So i replaced all the MenuViewController with SideMenuItem...
And all view objects became unknown.

Easy fix once I prepended UIViewController everywhere.

[2017-06-14 15:14] okonor commented on #2
Ok, thank you!

[2017-06-22 12:27] shaharukhs opened #26 "side menu on tabbar only I am facing problem"
Hello

My home viewcontroller has tab bar when I try to push any viewcontroller from side menu then tab bar is getting hidden or not able to see.

I am new to swift and just for practice I am tried to implement this.

[here](https://github.com/shaharukhs/demoSideMenuWithTab) you can find my repository if you want to know what I have done.

Thank you in advance.

[2017-06-22 12:42] okonor commented on #26
Hi @shaharukhs,

It looks like not right ViewControllers adopt `SideMenuItemContent` protocol.
`TabBarViewController` directly should do it:
[code]
Please, check the [Sample](https://github.com/handsomecode/InteractiveSideMenu/tree/master/Sample) for more details. TabBarController is implemented there.

Also, [README](https://github.com/handsomecode/InteractiveSideMenu/blob/master/README.md) shoul

[2017-06-22 12:58] shaharukhs commented on #26
You can use swipe gesture to show side menu and yes I know menu button is not working as you said.

[2017-06-22 13:27] okonor commented on #26
So, the question - why menu button is not visible on this screen formulate?

Could you formulate your question again, please? TabBar is not hidden in current version of your code.

[2017-06-22 14:08] okonor commented on #26
Hi @shaharukhs again,

I've reproduced your issue. The problem is that you push TabBarController via `selectContentViewController` method:

[code]

and then use `FirstViewController` and `SecondViewController` as menu items:

[code]

What do you want to get: TabBar as one of Menu Items or TabBar together with Side Menu (side menu items will duplicate tab bar items)?

[2017-06-23 07:31] shaharukhs commented on #26
What I want is if I select any of side menu item then tab bar should not hidden.

Just like `tabBarController?.selectedIndex = 0` or `1`

But if I try to pushViewController its hidden.

Hope you understand what I want to say.

step 1. Tab bar is showing.
![simulator screen shot 23-jun-2017 12 59 08 pm](https://user-images.githubusercontent.com/16479669/27470987-ccf1ecb4-5813-11e7-8ab5-dcba7de39280

[2017-06-23 10:05] okonor commented on #26
Hi Shahrukh,

Yes, now I understand your question. You are going to implement SideMenu that will duplicate TabBar's items. It's quite seldom case and our library doesn't support this from the box. But I can describe the steps, how you can try to implement your idea:

1. Please, note, that method `selectContentViewController` should push one of the Menu Items, not another controller. Now in your im

[2017-06-25 12:19] okonor commented on #26
Hi @shaharukhs,

I've updated a sample to implement desired behavior: https://cl.ly/2y1y2B0S2P2o.
You can find a zip [here](https://cl.ly/2S2u1A38072j).

You shouldn't select a new controller every time. You always have to use TabBar.

Save `tabBarViewContoller` as a property of `HostViewController`:
[code]

Add `selectTab` func implementation:
[code]

On `tableView`'s item click in `NavigationMen

[2017-06-27 07:16] #26 closed

[2017-07-14 13:15] Recouse opened #29 "How to push ViewController?"
When I try to push ViewController I got an error:
[code]

My code:
[code]

[2017-07-17 17:06] okonor commented on #29
Hi @Recouse,

It looks like your `rootViewController` is *HostViewController*, not *UINavigationController*. How has `rootViewController` been initialized: via the storyboard or in the code?

I need more details to help you with your issue.

[2017-07-18 11:07] HalitGumus opened #30 "showSideMenu() not working in UIViewController"
if present storyboard in UIViewController showSideMenu() not working

[code]

[code]

[2017-07-18 14:05] okonor commented on #30
Your *presentAA* ViewController should adopt `SideMenuItemContent` protocol. Does your *AAViewController* do it?

[2017-07-18 15:02] HalitGumus commented on #30
`class AAViewController: UIViewController, SideMenuItemContent  {`

Yes doing

[2017-07-18 15:05] HalitGumus commented on #30
[code]
is falling to else

[2017-07-18 15:20] okonor commented on #30
Do you use `self.present(presentAA, animated: false, completion: nil)` instead of `selectContentViewController(presentAA)`? If yes, it's the reason, because `selectContentViewController` method adds your VC as a child of `MenuContainerViewController`.

[2017-07-18 15:28] HalitGumus commented on #30
present page AA ok. but fatalError

[code]

The methods in the UIConstraintBasedLayoutDebugging category on UIView listed in <UIKit/UIView.h> may also be helpful.
fatal error: Invalid `menuViewController` value. It should not be nil: file /Users/AA/Pods/InteractiveSideMenu/Sources/MenuContainerViewController.swift, line 148

[2017-07-18 15:51] okonor commented on #30
Do you initialize `menuViewController` like in Sample?

[code]

[2017-07-18 17:03] HalitGumus commented on #30
Yes i am initialize on the first page

[2017-07-19 05:48] HalitGumus commented on #30
How to change content view, choose desired content controller in other page -> custom button

[2017-07-19 12:55] okonor commented on #30
Please, send part of code, where you are initializing `MenuContainerViewController.menuViewController` value with all the details: file, method and so on. Or you can attach the project zip.

Now all we know is that `menuViewController` is nil.

Changing content view looks OK.

[2017-07-20 08:11] HalitGumus commented on #30
[AA.zip](https://github.com/handsomecode/InteractiveSideMenu/files/1161594/AA.zip)

An example

[2017-07-20 10:48] #29 closed

[2017-07-20 11:39] Recouse commented on #29
I've already fixed it. It was my mistake.
Sorry.

[2017-07-20 12:06] okonor commented on #29
Don't worry and happy coding!

[2017-07-22 09:47] HalitGumus commented on #30
Help please
How can i solve

[2017-07-22 17:09] okonor commented on #30
Hi @HalitGumus,

I've created a project with your files, commented or removed code that wasn't working. And updated your `NavigationMenuViewControler` with `NavigationMenuViewControler` from [the Sample](https://github.com/handsomecode/InteractiveSideMenu/tree/master/Sample/Sample). Side menu works fine. Please, see [the demo](https://d3vv6lp55qjaqc.cloudfront.net/items/3w1y3o2i3i1B430a1715/Screen

[2017-07-24 06:37] HalitGumus commented on #30
![aa](https://user-images.githubusercontent.com/17872594/28510657-4e17c47a-7052-11e7-94ed-5c0da8085a8e.gif)

My project already doing this action but i want to that when users push the button(Push Page BB) go to the BBViewController SideMenu does not work in (BBViewController)

[2017-07-26 07:14] okonor commented on #30
You should use `selectContentViewController(presentAA)` instead of presenting ViewController even on `Push Page BB` button click. Otherwise, `MenuContainerViewController` won't know about your presented controller and won't be able to open/close menu.

If you need to add hierarchy to menu item, use UINavigationViewController as an menu item, and push controllers into it.

Hope, it'll help you.

[2017-07-31 10:23] #30 closed

[2017-08-15 15:42] nemecence90 opened #33 "Cant find SideMenuItemContent and TransitionOptions in InteractiveSideMenu"
I recently added InteractiveSideMenu through Cocoapods and I could not Set my UINavigationController protocol to SideMenuContent. And also to set the visible width I cannot see the TransitionOptions. Please Help!

I checked ChangeLogs and even forums, couldn't find any reference of anyone using it. Everyone uses the earlier version only. Even the changelog mentions use of TransitionOptions. How to

[2017-08-16 07:03] AndreyArzhannikov commented on #33
Hi, @nemecence90!

`SideMenuItemContent` protocol and `TransitionOptions` struct are available since v2 of the library.

So, please make sure that you have an updated version of the library. To do it, you can check your `Podfile.lock`. If it's not updated you need to run `pod update` command to install a new version. Perhaps, also, you need to update your spec repo: `pod repo update`. ([Related is

[2017-08-16 07:19] nemecence90 commented on #33
Hi @AndreyArzhannikov, Thanks for the reply.

Your suggestion worked and I was able to use SideMenuItemContent and TransitionOptions but now I am unable to use MenuItemContentViewController for the SubControllers in the Project.

![screen shot 2017-08-16 at 12 49 05 pm](https://user-images.githubusercontent.com/3805632/29351678-578a3678-8281-11e7-94c7-2a92d5281f01.png)

Can you please help with th

[2017-08-16 08:31] AndreyArzhannikov commented on #33
@nemecence90 yes, you're correct. Also, you can take a look at [CHANGELOG](https://github.com/handsomecode/InteractiveSideMenu/blob/master/CHANGELOG.md) and [Sample] for a better understanding of library usage.

So, if your question has been resolved please close this issue.

[2017-08-16 08:32] #33 closed

[2017-08-16 08:33] nemecence90 commented on #33
Thanks for the support @AndreyArzhannikov. Also I would I like to support by contributing to the project. And i haven't contributed before, so its a first time for me. Can you help me how can I help with it?

[2017-08-16 08:47] AndreyArzhannikov commented on #33
@nemecence90 Thanks!
So, we have two guidelines for contributing [CONTRIBUTING](https://github.com/handsomecode/InteractiveSideMenu/blob/master/CONTRIBUTING.md) and [CODE_OF_CONDUCT](https://github.com/handsomecode/InteractiveSideMenu/blob/master/CODE_OF_CONDUCT.md). Please be familiar with it before contributing.

We'll add soon our Road Map for this library where you can see which features we wo

[2017-08-16 09:14] nemecence90 commented on #33
@AndreyArzhannikov Amazing! I would surely look into the details and see to it if I can find something to contribute to. Thanks for your support.

[2017-08-16 10:16] AndreyArzhannikov commented on #33
That's awesome, thank you!

[2017-08-21 03:17] Yoloabdo opened #34 "right instead of left"
Hello, is showing menu from right supported? if so how to do it, thanks!

[2017-08-22 05:54] AndreyArzhannikov commented on #34
Hi, @Yoloabdo.

Unfortunately, we don't have support right-side menu at the moment. We'll consider this idea in future.
[Related issue](https://github.com/handsomecode/InteractiveSideMenu/issues/6).

Thanks.

[2017-08-22 05:54] #34 closed

[2017-08-27 18:58] mosn opened #36 "Performance improvement & Memory consumption"
Hey guys,

Thanks for the great library.
Currently `contentViewControllers` requires instantiated view controllers which could cause high memory usage specially with complex views. I tried to change it to array of StoryBoard identifiers and instantiate  VC inside `selectContentViewController()` which resolves the allocation issue and I can see that previous views gets de-initialized successfully b

[2017-08-28 06:20] AndreyArzhannikov commented on #36
Hi, @mosn.

Thanks for this question! Actually, we didn't run into performance issue and large memory consumption. It would awesome to know details of your specific case.

So, could you describe a few things
- How many menu items you have?
- How complex layout of content view controllers you have?
- Did you measure memory consumption by profiling tool? If it's so, what's a result you have? Why do

[2017-08-28 08:51] mosn commented on #36
Hi @AndreyArzhannikov ,

Thank you for quick response,  I haven't done any profiling yet but looking at the current implementation, it seems to me that placing all instantiated view controllers inside the `contentViewControllers` array  does not seem like best approach, Sadly use of Lazy init or tuning object  will not be beneficial here since with this setup, when the object is initialize it will

[2017-08-29 17:18] AndreyArzhannikov commented on #36
@mosn Yes, potentially we might have memory consumption issue if we have many menu items. The current implementation is not perfect in this case. A potential way to fix is to instantiate item VC by request or even caches it. Instantiating on the fly has own cost and here we need to have a lightweight view, tuning stuff and lazy initialization I mentioned before. I'm sorry for misleading you with l

[2017-08-30 08:42] Dschee opened #37 "MenuViewController subclass of UITableViewController"
As of now it is not possible to subclass from UITableViewController for the MenuViewController. For example I've written the following class:

[code]

Now I would like to use this framework. The README states I just need to make `MyMenuViewController` a subclass of `MenuViewController` which doesn't work though as I need to subclass `UITableViewController` and `MenuViewController` is just a `UIVie

[2017-08-30 09:18] AndreyArzhannikov commented on #37
Hi, @Dschee.

Yes, as you mentioned `MenuViewController` is a `UIViewController` subclass and, unfortunately, there is no an ability to use `UITableViewController` at the moment.
A simple solution is just to use `UITableView` in your `MenuViewController` subclass and implement dataSource and delegate as well.

It would be interesting to know why do you prefer to use UITableViewController instead o

[2017-08-30 10:33] Dschee commented on #37
Please refer to [this answer on SO](https://stackoverflow.com/a/17306960/3451975) if you want to learn the benefits of `UITableViewController` – I will not explain why we use it. I know that I could do things with `UIViewController` and a `UITableView` but that's not the point. We will not change our code because this library isn't as flexible as it should be.

I think you should not make `MenuVie

[2017-08-30 11:04] AndreyArzhannikov commented on #37
@Dschee Thanks for your feedback.

[2017-08-30 12:23] Dschee opened #39 "Unnecessary property `contentViewControllers`?"
What's the point in setting the property `contentViewControllers`? I don't see where it is being used in your code – I don't need a list of all content view controllers for my app, therefore I'm curious: What's the reason for including it and is it really needed as stated in the README? Couldn't we simplify this library a bit by removing it?

[2017-08-30 12:43] Dschee opened #40 "What does `SideMenuItemContent` do?"
Really, again when starting to use this library in my app I can't see why I need to conform to the `SideMenuItemContent` protocol im my view controllers? Is it only a hint so people don't forget they have to call `showSideMenu()` somewhere? Cause I can't find how view controllers that conform to that protocol are used within this library ... if it's only a reminder, why not solve it via docs?

I m

[2017-08-30 16:40] epitonium opened #41 "install through CocoaPods -> Use of unresolved identifier 'TransitionOptions'"
Just installed it through CocoaPods. Set my UIViewController to conform to MenuContainerViewController. And this XCode error appears: Use of unresolved identifier 'TransitionOptions'. And i couldn't find implementation for this in InteractiveSideMenu Pod classes. transitionOptions property is missing too. I compared the class MenuContainerViewController from Pod and from example from GitHub and th

[2017-08-30 17:10] okonor commented on #41
Hi @epitonium,

Please, take a look into [this issue](https://github.com/handsomecode/InteractiveSideMenu/issues/33). Maybe, it'll help you.

If no, we'll get into the details of your question a little bit later.

Thanks for using library and asking question.

[2017-08-30 17:44] epitonium commented on #41
Thank you very much! This issue was already open and i missed it. Solved my problem!

[2017-08-30 18:40] #41 closed

[2017-08-31 06:52] AndreyArzhannikov commented on #40
@Dschee Talking about `SideMenuItemContent`, currently, it's used to get access to `showSideMenu()` from item menu VC since the protocol has a default implementation.

`MenuHelper` is a good idea that can provide convenient API. Feel free to contribute this project and send pull requests.

Thanks for using the library and asking questions.

[2017-08-31 08:09] AndreyArzhannikov commented on #39
@Dschee At the moment, `contentViewControllers` is used only in client code like `NavigationMenuViewController` from [sample](https://github.com/handsomecode/InteractiveSideMenu/blob/2.0/Sample/Sample/NavigationMenuViewController.swift?utf8=%E2%9C%93#L70) for selecting menu item VC.
So it looks a little weird and will be fixed after reworking and adding something like helper you suggested within i

[2017-08-31 13:00] okonor commented on #41
Glad to hear! You're welcome.

[2017-08-31 13:31] Dschee opened #42 "Status Bar not properly calculated into the menu"
I don't know what the issue is here, but in my project the menu doesn't go under the status bar up to the top of the screen. As an example see this (you can see that where the menu ends the background is black):

![simulator screen shot 31 08 2017 15 25 30](https://user-images.githubusercontent.com/6942160/29925688-65102d2a-8e61-11e7-8b02-f3d04ec77042.png)

[2017-08-31 13:34] Dschee opened #43 "Width of the menu not has full screen width"
In my project the width of the menu view controller doesn't change to the visible size. Instead it just keeps the full size of the screen as you can see on the label which gets cut. Also I've attached the view debugger rendering of the same screen where you can see that there should actually even be a checkmark which is being overlapped by the content view though. How would I deal with that?

![si

[2017-09-03 09:11] pratik1311 opened #45 "How to change Root view controller in Another view controller?"
Hi,

I want to change root view controller when any item selected in another view controller.

Please help me.
Thanks.

[2017-09-03 14:55] Mahdimm opened #46 "add support to rtl for some language like persian & arabic"
if there is possible add a feature so that we simply change layout while the language is Persian or arabic

the menu open from left side so after adding that feature we may open from right side based on language

[2017-09-04 10:34] AndreyArzhannikov commented on #46
Hi, @Mahdimm

We added this feature request to our todo list.

Thanks for using the library.

[2017-09-04 10:47] AndreyArzhannikov commented on #45
Hi @pratik1311

Could you provide more details about your case? What specific issues do you have during working with the library?

[2017-09-04 12:40] AndreyArzhannikov commented on #42
@Dschee Could you provide more details about your menu view hierarchy or simple sample with this issue? It would be helpful since we can't reproduce this issue. Checked on [sample](https://github.com/handsomecode/InteractiveSideMenu/tree/master/Sample) and it works correctly.

[2017-09-04 13:03] AndreyArzhannikov commented on #43
@Dschee Currently, client code is responsible for the full handling of menu view layout. Thus, you can fix it manually, for instance, by setting constraints for menu content view.

Possibly, handling insets based on visible content width is a good idea of how to improve library usage.

Thanks for using the library and feel free to send pull requests with improvements.

[2017-09-05 11:20] Dschee commented on #43
Hi @AndreyArzhannikov, thank you for your answers on the issues we've seen with this library. After using [AKSidemenu](https://github.com/dogo/AKSideMenu) first and having problems with it, we hoped for a better library with this one. But we saw that this is far away from production ready for other use cases than whatever your use case might be – our's is actually pretty straight forward but as yo

[2017-09-06 09:06] AndreyArzhannikov commented on #43
@Dschee Have a good luck with building own solution.

[2017-09-06 16:29] jackdem opened #48 "White Screen when presenting hostViewController?"
Following the example files, I have an issue where my view is blank white once I present the hostController, the ViewDidLoad is hit on both the menu and the home page (first VC in array) but there isnt anything visible.

From the below is the reason for this obvious? I push hostController with:

[code]

Here is my setup code:

[code]

and my MenuViewController:

[code]

[2017-09-06 17:00] jackdem commented on #48
I have managed to get the home view to appear, but when i click to pop out the menu, the menu view isnt there, it animates but its blank?

[2017-09-06 17:05] #48 closed

[2017-09-07 09:25] jackdem opened #49 "Adjusting Gesture Area for view?"
How can i achieve a wider recognition area for the menu pull out? currently by default its on the very edge of the view and it would be good to have a slightly wider area available

[2017-09-07 11:45] AndreyArzhannikov commented on #49
Hi @jackdem,

Currently, there is no public API to make this but you can change the behaviour by changing `UIGestureRecognizer` from `UIScreenEdgePanGestureRecognizer` to `UIPanGestureRecognizer` in source code [here](https://github.com/handsomecode/InteractiveSideMenu/blob/master/Sources/MenuContainerViewController.swift?utf8=%E2%9C%93#L101).

Example:
[code]

Hope it will help you.

Thanks for a

[2017-09-07 15:29] jackdem opened #50 "Row Current Selection like in the demo gif?"
I wondered if there was the ability to add the custom row selection as seen in your demo gif on the home page? I wanted a colour block or something to indicate the currently visible viewController in the side menu. Not sure if this is a feature of the api or if this is handled in the tableview delegate methods?

[2017-09-07 16:32] progn commented on #50
You can override `setSelected` and `setHighlighted` methods  for your subclass of `UITableViewCell`. Something like this:
[code]

[2017-09-08 08:00] jackdem commented on #50
thanks, however when I then toggle the menu again the row is no longer selected? does this method not retain the colouration to show the current item selected?

[2017-09-11 18:08] epitonium opened #51 "How to disable Swipe from left -> Show menu gesture?"
I need to show the menu only by clicking on the showMenuButton. Currently the user also can swipe and the menu will appear. How can i disable this functionality?

[2017-09-12 11:29] jackdem opened #52 "Using SideMenu with a TabBarController?"
I currently use sidemenu and it instantiates its controller tabs when it inits.

Issue is i want to use a tab bar controller inside my first view controller tab, which can quick link me to 3-4 other controllers that are also in the sidemenu.

What approach is needed architecturally to allow for the tab bar controller to instantiate its controllers without overlapping with those created by the side

[2017-09-13 13:00] okonor commented on #51
Hi @epitonium,

There is no option to disable swipe using InteractiveSideMenu public methods.

To do it you should load sources and remove these lines in `viewDidLoad` of `MenuContainerViewController`:

[code]
It will disable swipe on menu opening.

If you also want to disable swipe on menu closing you should commit this line in `func finishTransition(currentPercentComplete)` of `MenuAnimator` cla

[2017-09-19 12:20] idikic opened #53 "UINavigationBar resizing issue - iOS11, Swift 3, Xcode9"
Hello guys, first off very nice library!

# **Intro**
- Xcode 9 GM
- Swift 3.2
- iOS 11
- Simulator and device

# **Issue**
If we embed `UINavigationController` as child view to `MenuContainerViewController` on iOS11, there is an issue with `UINavigationBar` height, when **closing** the side menu. When interaction starts, `UINavigationBar` will resize itself from the top to the size that will be 2

[2017-09-19 12:34] okonor commented on #53
Thank you for so detailed question. We will take a look at it a little bit later.

[2017-09-19 12:45] idikic commented on #53
Thanks :)

[2017-09-21 06:29] manukn opened #54 "How to reload or refresh side menu tableview from another controller?"

[2017-09-25 13:38] calli23 opened #55 "MenuContainerViewController dissappears after rotation from/to landscape orientation"
My ViewController that uses InteractiveSideMenue dissappears with a sinkhole animation to the ground. I didn't touch the code and installed v2.0. I tried some fixing in viewWillTransitionToSize but without success. Is it a known swift 4 issue?

My specs:

Xcode 9
iphone 7
iOS 11.0.1

[2017-09-27 16:43] jackdem opened #56 "Switching side menu to right side?"
Is there a simple method to change the menu to come from screen right rather than screen left?

I need it to be inverted to the default method

Cheers

[2017-09-28 17:04] kiwo12345 opened #57 "Lots of errors"
I tried to add the pod by pod install. But when I open my porject I get the following errors:

![screen shot 2017-09-28 at 19 03 35](https://user-images.githubusercontent.com/10579811/30980036-e4514036-a47f-11e7-9074-35845336ed3e.png)

[2017-09-28 18:12] okonor commented on #57
Hi @kiwo12345,

Take a look a [this commit](https://github.com/handsomecode/InteractiveSideMenu/pull/47/commits/f83788cbde2ca62eb33b5eb123cc49a0fb69760b). It'll help you these swift versioning errors.

Happy coding!

[2017-10-02 10:10] jackdem opened #58 "Status bar vanishes when loading a menu item inside a navigation controller"
When I create my menu item controllers, I embed them in navigation controllers.

Issue is when I click one of these items, it loads, but the status bar vanishes and just leaves a black box.

How can i get the behaviour to work as expected and retain the status bar which then takes on the background colour of the navigation bar, as it would do outside of the side menu encapsulation

[2017-10-02 20:34] juancarlosdmz commented on #56
same here

[2017-10-03 08:39] jackdem commented on #53
i also have this issue

[2017-10-04 14:04] haroldogtf commented on #57
I getting the same. When will this update be available?

[2017-10-04 14:13] okonor commented on #57
Most probably, this or the next week.

On Wed, Oct 4, 2017 at 8:04 PM, Haroldo Gondim <notifications@github.com>
wrote:

--

SOFTWARE ENGINEER, mobile
OLGA KONOREVA

PHONE
+7 965-878-0017 <+7+965-878-0017>

DRIBBBLE
dribbble.com/handsomemade

TWITTER
@handsomemade <http://twitter.com/handsomemade>
<http://handsome.is/>

Olga Konoreva +7 965-878-001

[2017-10-04 14:32] haroldogtf commented on #57
Thank you. I will be waiting!

If some need to use before the POD be available:
`pod 'InteractiveSideMenu', :git => 'https://github.com/handsomecode/InteractiveSideMenu', :commit => 'f83788cbde2ca62eb33b5eb123cc49a0fb69760b'`

[2017-10-06 07:06] okonor commented on #58
Hi @jackdem,

What preferred status bar color do you have, when menu items are loaded? It could be a situation, when you have `default` (darkContent) and dark background.

[2017-10-06 07:47] jackdem commented on #58
Hi there, my appearance config looks like this:

[code]

[2017-10-06 08:55] okonor commented on #58
Is it reproduced on iOS 11 only or on all versions?

[2017-10-06 08:59] #39 closed

[2017-10-06 09:10] okonor commented on #56
Hi guys,

Unfortunately, there is no right menu support now. This task has been already added to our ToDo list. Related issue is #6.

Thank you for your question.

[2017-10-06 09:11] #56 closed

[2017-10-06 09:16] jackdem commented on #58
im not sure how to confirm older versions as im only working with 11

[2017-10-06 10:20] okonor commented on #55
Hi @calli23,

Could you reproduce the same issue on the [Sample](https://github.com/handsomecode/InteractiveSideMenu/tree/master/Sample)?

[2017-10-06 10:29] okonor commented on #55
Does it happen every time?

[2017-10-06 10:39] #42 closed

[2017-10-06 11:11] okonor commented on #54
Hi @manukn,

Developer is responsible for adding/updating menu items data. So, it depends on your implementation.

If you use tableView like in [Sample](./Sample/Sample/NavigationMenuViewController.swift) you can define `menuItems` as a variable and update it from another ViewController as you want.

Thank you for your question.

[2017-10-06 11:14] #54 closed

[2017-10-08 13:14] iamhx commented on #51
Thanks for this. Was having an issue where my table view moves up, hindering my custom header section.

[2017-10-09 15:27] iamhx opened #59 "Preserving the state of a view controller if it is currently selected"
I want to preserve the state of my view controller if it is currently selected because all the data in my Table View will be gone when I tap on the menu item.

How do I get the current selected VC?

    guard let menuContainerViewController = self.menuContainerViewController else {
		return
	}

	if (self.view.superview! == menuContainerViewController.contentViewControllers[1]) {

		print("It is th

[2017-10-09 18:30] okonor commented on #58
In Xcode you can click on _Active Scheme_ and then [_Download Simulators_](https://cl.ly/0e0B43080e2S) and choose version before 11 to download.

Also, [this Stack Overflow question](https://stackoverflow.com/questions/4262018/xcode-simulator-how-to-run-older-ios-version) should help you.

[2017-10-09 18:53] Ehab10 commented on #46
Any Updates ?!!

[2017-10-10 07:10] okonor commented on #46
Not yet. This feature will not be added in the nearest 2.1 release.

But you always could send us pull-request with rtl implementation if you need it now.

Thank you!

[2017-10-10 08:38] jackdem commented on #58
I downloaded iOS 10.0 simulators and it seems to work fine, so its iOS11, is there a fix / solution possible? as currently its not really usable in iOS11 with this behaviour in my use case

[2017-10-10 08:51] okonor commented on #58
I'll take a look into your issue today. To simplify this work, please, try to reproduce the issue on the sample or send me your code.

[2017-10-10 08:51] okonor commented on #58
Also, did you test it on a real device? Or simulator only?

[2017-10-10 09:02] jackdem commented on #58
Simulator only, i dont have any iOS10 devices.

I cant provide a sample sorry, but the setup is simply, the sidemenu and then clicking an item loads a navigation controller with a viewcontroller assigned to it. This view controller will suffer the black bar issue. If you drag the view controller to open the menu then very slowly move it backward closing the menu, you can get the black bar to dissa

[2017-10-10 10:48] okonor commented on #59
Hi @iamhx,

You can save current view controller index and then get it using `menuContainerViewController.contentViewControllers` array.

Thank you for using InteractiveSideMenuLibrary.

[2017-10-10 12:14] okonor commented on #59
If it doesn't help you, please, let us know.

[2017-10-10 12:14] #59 closed

[2017-10-10 12:26] #51 closed

[2017-10-10 12:45] #43 closed

[2017-10-10 12:56] #45 closed

[2017-10-10 13:08] okonor commented on #52
Hi @jackdem,

I've updated a Sample to implement desired behavior: https://cl.ly/2y1y2B0S2P2o.
You can find a zip [here](https://cl.ly/2S2u1A38072j).

Save `tabBarViewContoller` as a property of `HostViewController`:
[code]

Add `selectTab` func implementation:
[code]

On `tableView`'s item click in `NavigationMenuViewController` you should call this method instead of selecting ViewController as n

[2017-10-10 13:32] jackdem commented on #52
thanks for this, why is it focused around a tab bar? i have the issue on my views that are simply in navigation controllers selected from the side menu, no use of tab bar

[2017-10-10 13:43] jackdem commented on #52
thanks, this only works if there are the same items in the tab bar as in the side menu? i have 4 items in the tab bar but 15 in the side menu. I can only change to the first 4?

[2017-10-11 14:46] okonor commented on #52
You can add as many items as you want in the menu, including tabBar's ones. But in this case you should work with the menu as usual and use `selectContentViewController` for switching items, when you are sure that user switches from tab bar ViewController to another and otherwise. You could use a flag responsible for information about current state.

In the case when user switches from one tab to

[2017-10-16 08:15] jackdem commented on #58
Hi was there a solution found to this? ive been running my app on iOS10 simulator for a while now but i cant do a public release unless there is a work around, would be much appreciated

[2017-10-16 09:02] okonor commented on #58
Hi @jackdem ,

It looks like `CGAffineTransform(scaleX, y)` of ViewController's view works not correctly with NavigationBar in iOS 11. I'm going to report a bug to Apple.

You can use `contentScale = 1` for iOS 11 users for now until this issue will not be fixed or we'll find some workaround.

Please, let me know if SideMenu works for your case without content scale.

[2017-10-16 09:26] jackdem commented on #58
thanks, sorry for the simple question, but where do i set the contentScale?

[2017-10-16 09:52] okonor commented on #58
Using `TransitionOptions.contentScale = 1`

[2017-10-16 10:34] jackdem commented on #58
unfortunately this didnt fix it, the status bar remains the wrong colour in an iOS11 simulator

[2017-10-16 11:12] okonor commented on #58
Please, attach the recording. I can't reproduce your issue with `contentScale` equal to 1.

[2017-10-16 11:24] jackdem commented on #58
sorry i set it in the viewwilltransition, moved it to the viewdidload and now its fine, no issue. i just loose the nice animation. Is this something that should resolve in the longer term?

[2017-10-16 11:27] okonor commented on #58
It will depend on Apple's answer

[2017-10-16 11:29] #55 closed

[2017-10-16 11:32] okonor commented on #53
It looks like CGAffineTransform(scaleX, y) of ViewController's view works not correctly with NavigationBar in iOS 11. I'm going to report a bug to Apple.

With `contentScale = 1` for iOS 11 users SideMenu works correctly. I'll keep you posted.

[2017-10-17 08:23] okonor commented on #57
Hi all,

Thank you for your patience. The 2.1 version is planned to be released tomorrow (on October, 17). It will contain these Swift 4 fixes.

Also, huge thanks to @haroldogtf for pod spec.

[2017-10-21 07:17] idikic commented on #53
Thanks for input @okonor!

[2017-10-22 21:19] okonor commented on #57
Hi guys,

**InteractiveSideMenu 2.1** has been [released](https://github.com/handsomecode/InteractiveSideMenu/releases/tag/2.1) and [published to cocoapods](https://cocoapods.org/pods/InteractiveSideMenu). Please, check.

[2017-10-22 21:20] #52 closed

[2017-10-23 15:11] haroldogtf commented on #57
Worked perfectly for me.

[2017-10-23 19:14] okonor commented on #57
Great, thank you!

[2017-10-23 19:14] #57 closed

[2017-10-28 18:54] abhimasand opened #60 "Menu Opening Up on Swipe But Not On Clicking Button"
I am trying to open the Side Menu by clicking a button, but the menu isn't opening . I am using the showSideMenu() function, and also have the SideMenuItemContent Delegate present ,but the side view isn't coming .

[2017-11-01 11:43] okonor commented on #60
Did you try Sample's implementation? Does it work for you?

Do you use some complex controllers structure or TabBar/NavigationBar controllers? Please, provide specific details.

[2017-11-09 09:20] AlaeddineOuerteni opened #61 "We can't override the shadow of the HostViewController."

[2017-11-09 10:57] AlaeddineOuerteni opened #62 "Can't add corners to the screenshot of the the HostViewController when menu is opened."

[2017-11-13 07:36] chetanpanchal94 opened #63 "Navigation Controller in side menu"
Adding Navigation Controller As menu item do not show menu, i have three controller embedded in respective navigation controller as root view and i have added menu  as bar button item, showSideMenu() method is being called but menu is not shown.

[2017-11-19 15:28] mtashley commented on #53
Getting the same issue. @okonor Did Apple ever get back to you? I know they are not huge fans of side menus to begin with. Did you find a fix?

[2017-11-21 09:16] ValeriiVV commented on #60
I have the same issue: swiping works fine, but if I tried open the Side Menu by IBAction - it crashes. I don't know why, but my class doesn't even call the viewDidLoad, viewWillAppear and so on methods. But it show me everything I added in xib. So, when I click my UIButton - it crashes with:
2017-11-21 12:14:54.277441+0300 *****[5270:15335230] -[UIViewController showMenuButtonClicked:]: unrecogniz

[2017-11-22 08:56] avjiang opened #64 "UISplitViewController"
Hi, can this library be used for UISplitViewController project? I am going to build UISplitViewController that has slide menu that will push to respective ViewController based on the menu selected on the side menu. Thanks!

[2017-11-29 11:22] jackdem opened #65 "Creating Menu without instantiating controllers?"
I wondered if there is an approach to using the side menu in which I dont need to create an array of viewControllers straight away?

Its becoming an issue with the nature of my app to have an array of initialised viewControllers stored for the menu, rather than the approach ive seen elsewhere where the controllers are created on tap on the side menu cell via a switch statement on the item.

Any ad

[2017-11-30 20:19] welljsjs opened #66 "Button constraints are corrupt on iPad / button is moving when closing MenuViewController"
Hey,

I am having some trouble with InteractiveSideMenu.
I tried to use the framework for iPad running iOS 11, but there seems to be a problem; the first time I close the side-menu, my button moves about 20px to the top.
I attached some pictures of it. I am using the same constraints as in your official Sample project.

The console output:
[code]

This might refer to #53 , but I am not sure.

<img

[2017-12-01 12:42] makeitTim commented on #51
Enabling and disabling the swipe is a great feature.

When is modal is displayed that must be resolved, right now the user can just swipe to the menu to escape.

[2017-12-19 08:26] zeeshanbiit opened #67 "Open Again that Controller But its not Reload"
when click on the side menu and click on the buttons first time it reload the Controller but if I Come again to that controller its not updated it show the last opening Thing how can I call reload the controller

[2017-12-19 12:05] #63 closed

[2017-12-19 13:34] chetanpanchal94 commented on #60
i am also facing same problem on swipe menu is being opened but clicking on menu button does not open menu.

`
let selectViewController = self.storyboard?.instantiateViewController(withIdentifier: "ViewController")

        let navigationController = UINavigationController(rootViewController: selectViewController!)
        navigationController.navigationBar.isHidden = true

        let menuVC = se

[2017-12-26 19:21] douglas-srs commented on #58
I have the same issue, I hope Apple answers soon :)

[2017-12-26 19:33] douglas-srs commented on #58
`if #available(iOS 11.0, *) {
            transitionOptions.contentScale = 1
        }`
Your workaround is working btw!

[2017-12-27 23:35] KevinMaldjian opened #68 "MenuViewController Declaration in ViewDidLoad Causing an Error"
I have copied the code from the **HostViewController implementation** section into my file that belongs to the HostViewController but I was immediately greeted with this error:

"_Cannot assign value of type 'MenuViewController' to type 'MenuViewController!'_"

This error is from line
`menuViewController = self.storyboard!.instantiateViewController(withIdentifier: "NavigationMenu") as! MenuViewCon

[2017-12-31 13:27] florencelomojones opened #69 "Side Menu Table View with sections"
Hello,

I am using the interactive side menu and I have successfully implemented it however, my side menu has sections and I am not able to access other view controllers in later sections. Is there a way to get around this problem?

[2018-01-03 09:12] florencelomojones commented on #58
Hi,
I have a similar issue but with my project, the navigation bar does not show up at all. Is it possible to get a sample of how to implement this menu with navigation controllers? The side menu works fine but the navigation bar does not show up for any of the view controllers. Also, using a side menu with  multiple sections in the table, how do I access other sections to display the right view c

[2018-01-10 03:40] Raegonoth commented on #58
Hey,
so i just saw it worked with the IPhone SE. So it also have something to do with the size of the screen on IOS 11.

[2018-01-10 09:54] florencelomojones commented on #69
I could really use some help with this as deadlines are crushing in @okonor

[2018-01-12 02:53] KevinMaldjian commented on #69
I feel like you should really describe this issue a bit more

[2018-01-12 02:55] KevinMaldjian commented on #67
Why not reload the controller with a delegate when the information is changed?

[2018-01-12 11:39] florencelomojones commented on #69
The side menu view for the application uses a table view which has sections. In the example, the table view has just one section so the array of view controller works but with more than one section and the array of view controllers being defined in the host view controller, it is quite difficult to get which section the current row belongs to. @KevinMaldjian

[2018-01-15 14:21] makeitTim opened #70 "Question about using with iPad SplitView"
Works great on iPhone!

When the same form-driven app is run on iPad I think it would make more sense to put the menu in the left SplitView. Has anybody done this before? How could this be done in clean way?

[2018-01-19 16:53] marcsnts opened #71 "Animating content view controller switch"
Is it possible to animate the switching of content view controllers using `selectContentViewController`? My use case is I am in one side menu view controller, and want to switch to another one without accessing the side menu (ex: tapping a button switches to one of the content view controllers).

[2018-01-22 19:21] chfakhar commented on #46
Any update on right to left animation when App language is RTL?

[2018-02-01 13:00] test-ineed opened #72 "when select side menu item than canter view issue"
![simulator screen shot - iphone 6 - 2018-01-31 at 12 50 13](https://user-images.githubusercontent.com/5210868/35679670-f797b7c2-077d-11e8-953e-6df3eb1ed072.png)
![simulator screen shot - iphone 6 - 2018-01-31 at 12 50 19](https://user-images.githubusercontent.com/5210868/35679671-f7e5f126-077d-11e8-8827-ab703bfba244.png)
![simulator screen shot - iphone 6 - 2018-01-31 at 12 50 24](https://user-im

[2018-02-01 13:32] test-ineed commented on #72
it's only happen in iOS 11 and above

[2018-02-01 13:33] test-ineed commented on #72
using safe area.

[2018-02-03 23:13] AbdallhDev commented on #46
RTL right side open menu option needed !

[2018-02-08 18:13] enmiller commented on #60
@Mashex @ValeriiVV @chetanpanchal94
Would any of you be willing to post additional information about the issues you are seeing?  The sample project is working both with swiping and with tapping the menu button on the content view controllers.  Without further insight into your issue or your implementation code, it's difficult to figure out what is going on in your application(s).

[2018-02-08 20:25] enmiller commented on #61
@AlaeddineOuerteni Will be available in v2.2 which I hope to release soon

[2018-02-08 20:25] #61 closed

[2018-02-08 20:26] enmiller commented on #62
@AlaeddineOuerteni
By corners, do you mean to round the corners?  Can you explain any further?

[2018-02-08 21:04] enmiller commented on #50
@jackdem
Im currently making some updates to the sample project to behave more like the demo gif.  However, even in the current form of the sample app, the menu table's row selection stays throughout.  Are you sure you aren't telling the table view to deselect the row in `tableView(_ tableView: UITableView, didSelectRowAt indexPath: IndexPath)`?

e.g.
[code]

[2018-02-09 14:49] enmiller commented on #53
There appears to be a critical range with the `contentScale` property of the `TransitionOptions` that causes the odd behavior.  When using a `contentScale` of 0.87 - 0.90, there seems to be an issue with the content controller's view not getting its `safeAreaInsets` set properly.  From testing, I can only see it affecting those four values in that range.

I will continue to look into the issue but

[2018-02-09 15:07] enmiller commented on #72
@test-ineed
There appears to be a critical range with the contentScale property of the TransitionOptions that causes the odd behavior. When using a contentScale of 0.87 - 0.90, there seems to be an issue with the content controller's view not getting its safeAreaInsets set properly. From testing, I can only see it affecting those four values in that range.

I will continue to look into the issue b

[2018-02-09 15:08] enmiller commented on #66
@welljsjs
There appears to be a critical range with the contentScale property of the TransitionOptions that causes the odd behavior. When using a contentScale of 0.87 - 0.90, there seems to be an issue with the content controller's view not getting its safeAreaInsets set properly. From testing, I can only see it affecting those four values in that range.

I will continue to look into the issue but

[2018-02-09 17:37] enmiller commented on #61
@AlaeddineOuerteni Try using `2.2.1`.  I have added a property for `SideMenuItemShadow` that lets you globally customize the drop shadow of the content controllers.

[2018-02-09 17:40] enmiller commented on #53
@idikic @jackdem @mtashley
Try using `2.2.1`.  The default `contentScale` was changed to be outside of the affected range that causes the `safeAreaInsets` not to be set properly on the content controller.

I will still be looking into this issue to see how I can make things work no matter the `contentScale` setting but this is the best I can do for now.

[2018-02-09 17:40] #53 closed

[2018-02-09 17:41] enmiller commented on #66
@welljsjs
Try using `2.2.1`.  The default `contentScale` was changed to be outside of the affected range that causes the `safeAreaInsets` not to be set properly on the content controller.

I will still be looking into this issue to see how I can make things work no matter the `contentScale` setting but this is the best I can do for now.

[2018-02-09 17:41] #66 closed

[2018-02-09 17:41] enmiller commented on #72
@test-ineed
Try using `2.2.1`.  The default `contentScale` was changed to be outside of the affected range that causes the `safeAreaInsets` not to be set properly on the content controller.

I will still be looking into this issue to see how I can make things work no matter the `contentScale` setting but this is the best I can do for now.

[2018-02-09 17:41] #72 closed

[2018-02-09 17:51] enmiller commented on #64
So you want a SplitViewController where the SideMenu is inside of the Split Controller menu?

[2018-02-09 18:01] avjiang commented on #64
Hi, yes it is correct. Is it possible?

On Feb 10, 2018, 1:51 AM, at 1:51 AM, Eric Miller <notifications@github.com> wrote:

[2018-02-09 23:34] enmiller commented on #64
Currently, this is not something that is supported within the library.  If this is something you'd like to see, feel free to take a look at the source code and submit a pull request for us to review.

[2018-02-09 23:44] enmiller commented on #70
This is similar to the feature request of #64

The architecture of the library and the nature of how UISplitViewController works does not inherently allow this to work.  If you'd like to see this feature be implemented, we'd be happy to review any pull requests that are submitted.

[2018-02-10 13:42] mahmooddagga commented on #46
Any update

[2018-02-10 14:00] enmiller commented on #46
This would take some time to complete and test. I can add it to the roadmap of the project but, unfortunately, am not able to give a timeline.

I am beginning to make updates to this project as time allows. Some days there’s more time than others.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-11 18:48] makeitTim commented on #70
Thanks for the response!

Yeah, I've been toying with it and came to the same conclusion --- the way InteractiveSideMenu manages the VC's just doesn't adapt to how UISplitViewController works, kind of overlapping but conflicting solutions. From what I can tell, it doesn't really make sense to use them together.

The right approach would be to customize the InteractiveSideMenu side menu to look a l

[2018-02-11 20:07] enmiller commented on #70
Please do! Appreciate the enthusiasm for ideas and to help out.

I’ve got a few ideas for v3 for better memory management and the way the menu is managed. Hopefully some of the new ideas will make it easier to adapt to iPad and SplitViews

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-14 11:52] AlaeddineOuerteni commented on #62
Yes @enmiller.

I want to change the cornerRadius of the layer of the screenshot imageView.

Is it possible ?

[2018-02-20 15:17] enmiller commented on #62
v2.3.0 now has a property on n`SideMenuItemOptions` that will allow you to set the corner radius of the opened content item.

[2018-02-20 15:17] #62 closed

[2018-02-20 15:21] enmiller commented on #50
The sample project has been updated to better reflect the demo gif on the README.  I'm going to close this issue as I see it being resolved.

If you have further questions or issues about the selection state of the Side Menu table, feel free to re/open the issue.

[2018-02-20 15:21] #50 closed

[2018-02-20 15:23] enmiller commented on #70
I'm going to close this issue and leave #64 open has a feature request.  Please direct any further updates or requests to that issue thread.

[2018-02-20 15:23] #70 closed

[2018-02-20 16:50] AlaeddineOuerteni opened #82 "Transition bug on iPhoneX"
When you try to close the sideMenu by swiping it from right to left, the size of the screenshot changes oddly and at the end of the transition the space at the top that is between the statusBar and the toolBar is gone.

Thank you :)

[2018-02-20 16:51] AlaeddineOuerteni commented on #62
Great job @enmiller ;)

[2018-03-05 14:16] ShKhan9 opened #83 "navigateFrom right to left"
I didn't find any option to make the menu slide from right

[2018-03-07 05:51] masroorelahi commented on #82
Getting the same issue

[2018-03-09 17:10] kukushi commented on #83
Try [SideMenu](https://github.com/kukushi/SideMenu). It learns from many side menu projects.
And of course, the menu can slide from the right.

[2018-03-12 20:54] dromerobarria opened #84 "Menu position"
Nice job, is there a way to change de menu position to show it above the view?

[2018-03-13 16:20] FahadQuait commented on #60
There is some missing code in the cocoapod. I tried the sample application and it works fine! wonder why the code is not reflected to cocoapod.
 I have the same issue and there are no feedback to further describe the issue. I will try to copy the sample classes and update this issue.

[2018-03-19 09:36] xixinjie opened #85 "Page Size Issues After Rotating with Left Menu Opened/Closed"
Hi @enmiller @AlexKorovyansky, thank you for sharing this awesome lib. Could you please help me solve the page size issues after rotating. Two cases as below:

**Case 1. Rotate with left menu closed**
1. Open my app in portrait, and open left menu to check its size: OK
2. Close left menu and rotate to landscape, open left menu to check its size: Error, a gap in bottom
3. Close left menu and rotate

[2018-03-21 17:26] xixinjie commented on #85
Closed this issue cuz I solved it, which is due to UINavigationController problem.

[2018-03-21 17:26] #85 closed

[2018-04-09 20:36] lukeharries opened #86 "Using Screen Edge Pan to open menu can cause app to stop responding to touches"
Replication steps:
Use screen edge pan gesture to slowly open menu, drag finger to other side of screen, and then off screen.

Observed Behaviour:
Menu Open transition is cancelled (content snaps back to full screen) and the UI becomes unresponsive.

Expected Behaviour:
- Menu opens
- UI Never becomes unresponsive after a menu transition, under any condition.

Suspected Issues:
In `MenuAnimator.ha

[2018-04-10 01:43] AshleyDeng commented on #86
I have exactly the same issue. Also, following [this](https://github.com/handsomecode/InteractiveSideMenu/issues/51) to disable swipe to show menu gesture failed to work due to the recent updates.

[2018-04-10 01:45] AshleyDeng commented on #82
It's fixed in version 2.3

[2018-04-11 10:22] deepaksinghnegi opened #88 "Move menu instead of the view controllers on the right?"
Side menu is below the view controllers, can we move side menu instead of moving the right side views?

[2018-04-12 09:32] priyonto commented on #82
I am still facing that issue. any help please?

[2018-04-18 16:03] Bilal10Akram commented on #26
Hi ShahRukh,
i'm getting the same problem as you faced in past. If have any solution to that then do share with me bcz i searched every where but didn't anything. i'm mentioning my problem below:
On selecting menu Item from the burger menu TabBar gets disappear ?

I have burger button (menu button) in almost all vc and my main screen is tabBarController. Currently I'm getting the side menu when ta

[2018-04-18 19:55] fsabri commented on #84
could we have the option to have control on which side the menu open , or menu on left and right at the same time ?

[2018-04-23 23:59] tipoc123 opened #89 "Not showing status bar after init"
Status bar doesn't show icons immediately after launching my app:

<img src="https://user-images.githubusercontent.com/15922591/39158659-f384108c-4769-11e8-8d3b-0dca0cc9a9c1.jpg" width="300">

Then I show and hide menu. Status bar shows normally after that:

<img src="https://user-images.githubusercontent.com/15922591/39158666-0032ad16-476a-11e8-829c-d1165490d58b.jpg" width="300">

Xcode version 9

[2018-04-24 00:13] tipoc123 commented on #89
I've added black borders to screenshots for readability

[2018-04-24 22:38] SonicProUK opened #90 "ContentWidth"
Hi,

I want to "disable" the TweakViewController but i'm having trouble with the self.visibleContentWidth.  I've adjusted the size on what i want in the swift code but its not doing anything

eg:
`public init(duration: TimeInterval = 1.0, contentScale: CGFloat = 1.0, visibleContentWidth: CGFloat = 163.628570566641)`

what do i need to do to correct this?

thank you

[2018-05-10 21:00] phil-alekhin opened #91 "Memory leak"
Hi guys! Thanks for your library.

Now I push MenuContainerViewController into a navigation stack and when I pop to a root view controller the controller is not deallocating. I suppose a reason is that MenuViewController has the strong reference to its container.

My solution is a weak reference to the container.

[code]

Am I right?
Thank you =)

[2018-05-16 07:12] hakankoluacik opened #92 "Delay on SideMenuItemContent"
Sometimes when i tap an item from the menu, viewcontroller comes after 4-5 second delay i don't have any idea why. Sometomes comes fast.

[2018-05-16 09:42] Hazoomo commented on #46
Needed Please !!! RTL

[2018-05-23 06:17] Premal-Khetani opened #93 "Module compiled with Swift 4.0.2 cannot be imported in Swift 4.1"
Hello,

While building the application gives me this error :

[2018-07-16 07:51] patriksharma opened #96 "how to call Side menu from Child view Controller class"
Well I called Class A from side Menu and Menu icon is working fine from here. Now I Move to Class B from Class A using Navigation controller.

I added menu icon there but open side menu is not working from there. Any idea ?

[2018-07-16 07:53] patriksharma commented on #96
I tried this code, but it doesn't work. Condition fails.

[code]

[2018-07-16 16:57] patriksharma commented on #96
@rob5408 @AlexKorovyansky @johnroescher @alexzub @progn  any one please help me to get this working

[2018-08-06 14:07] ASH19992 commented on #82
YES me too , I am facing this issue not only with iPhone X even the rest!
Any solution ?

[2018-08-13 11:52] indiraAman commented on #96
@patriksharma hello! I also have the same problem... did you solve it?

[2018-08-13 12:17] patriksharma commented on #96
@indiraAman  Yes, Solved it. IT took lot of time to understand but Take it this way.

They have default `storyboardable. swift` file which you need to include . Basically You need to create seprate storyboard file for each side menu. For example I have created a side menu with 4 options. Then I need to create 4 storyboard files and use.  Then only it works for you

[code]

[2018-08-13 12:45] NduatiK commented on #53
A possible work around is to anchor a 0px tall view to the top of the view, lets call this view `topAnchorView`.

Set up top anchor with the following constraints:
- Height = 0px
- Width = superview.width
- CenterX = superview.CenterX
- TopAnchor = topSafeArea -> you will need to create an outlet for this so we can deactivate it later
                                `@IBOutlet weak var safeAreaTop

[2018-08-14 04:00] indiraAman commented on #96
@patriksharma thanx, but unfortunately it didn't help me(( and i can't figure out why

[2018-08-14 04:07] patriksharma commented on #96
@indiraAman  Ok do a simple thing

1) Open sample code added in the -InterativeSideMenu` project folder
2) Now drag and drop `Storyboardable.swift` file into your project
3) Now drag and drop `HostViewController.swift` and `POAMenuViewController.swift` into your project

In `HostViewController` class. Change this method with your Classes and Make seprate storyboard for each class.

[code]
I have c

[2018-08-14 12:33] Ahmed-Komsan opened #97 "ios 11 contents view controller top layout goes under status bar"

[2018-08-20 06:33] indiraAman commented on #96
@patriksharma   it works) thanx! you helped me a lot!))))))

[2018-08-20 06:38] patriksharma commented on #96
@indiraAman Nice to hear that from you :)
`
Dua mein Yaad rakhna`

[2018-08-20 06:38] #96 closed

[2018-08-24 13:51] umarF commented on #58
The workaround is not proper, if you use the gesture navigation to slowly open and/or slowly close the side menu, the white status bar is displayed and it vanishes when the view takes up the full space.

[2018-09-12 01:52] ysdvincent opened #98 "Not work on ios 12"

[2018-09-18 19:05] HiramKarim commented on #98
There some issues in the code that must be fixed ASAP:

Files:

Options.swift
Line 98

MenuContainerViewController.swift
Lines: 150 and 168

[2018-09-22 08:02] vaibhav-varshaaweblabs commented on #85
@xixinjie Please share the solution here

[2018-09-27 06:52] Nitinbond opened #100 "Without separated storyboard."
How can i use this lib without separated storyboard, i mean with single storyboard.
which one is initial view controller?

[2018-10-16 06:20] El-Buritos opened #101 "I need to get the view.safeAreaInsets.top"
My app is design programatically and I need to get the view.safeAreaInsets.top **but** by the way when I test to get it in a view contains the SideMenuItemContent, this code
`if #available(iOS 11.0, *) {
            topSafeArea = view.safeAreaInsets.top
        } else {
            topSafeArea = topLayoutGuide.length
        }`
return always a 0 value..

Basically because the view containing in th

[2018-10-16 06:42] El-Buritos commented on #101
solved by `if (@available(iOS 11.0, *)) {
    UIWindow *window = UIApplication.sharedApplication.keyWindow;
    CGFloat topPadding = window.safeAreaInsets.top;`

[2018-10-16 06:42] #101 closed

[2018-10-18 13:04] epitonium commented on #98
I have a strange behaviour on ios 12 too. Right bar button items disappear some times and some times not.

[2018-10-21 07:35] prasenraj commented on #98
HI @HiramKarim
MenuContainerViewController.swift
Lines: 150 and 168
you change this line like "currentContentVC.removeFromParentViewController()"
and "addChild(selectedContentVC)"  to   "self.addChildViewController(selectedContentVC)"

Options.swift
Line 98
public var animationOptions: UIView.AnimationOptions = .curveEaseInOut
to
public var animationOptions:UIViewAnimationOptions = .curveEaseInOut

[2018-11-04 17:50] El-Buritos opened #103 "Disable the cache?"
Any possibilities to disable the cache? (reload the view each time i called it by the sideMenu)

[2018-11-07 10:32] #103 closed

[2018-11-07 12:21] mariaCP opened #104 "Could not build Objective-C module 'InteractiveSideMenu'"
When I insert in my code the import of InteractiveSideMenu I have this issue:
"Could not build Objective-C module 'InteractiveSideMenu'"
Is it a known problem? Any help is appreciated.

[2018-12-24 09:39] F4rid commented on #83
+1

[2018-12-28 07:58] hreetek opened #105 "it is very tricky to use in our project."
it is very tricky to use in our project. please make it easy. and if Any Video tutorial  you have, please give me link of video .  I want to use this pod.

[2018-12-28 13:20] khurramtnc opened #106 "Opening a specific view from app delegate."
Hi,
Thanks for awesome library. I have 5 view controllers on side menu. 1- Home 2- Conversations, 3- Profile, 4- Notifications and 5- Settings. I opened Homeviewcontroller after sign in page every thing works as expected. Now I have a scenario. When user receive a push notification on click, he should navigate to 4- Notificationview controller. Can you please help me out? On receiving push notific

[2019-01-21 19:23] Lailan commented on #104
Command + B
Build the build again and solve it.

[2019-02-01 21:23] sdbrown2 commented on #105
@hreetek please check readme.md for instructions 👍

[2019-02-01 21:23] #105 closed

[2019-02-02 05:49] hreetek commented on #105
please Create a video on that. So I can implement easily.

[2019-03-01 22:31] 3rsin3rgul opened #107 "View cgpoint is changing"
Hello,
View cgpoint is changing on y position. (-20)

[2019-03-07 17:30] Lailan commented on #97
Hi @Hassan143
Did you find the solution for this issue?

[2019-08-29 08:51] dipang90 opened #110 "Not supported to swift 5."
In my current apps I have used your Cocoapod pod 'InteractiveSideMenu' and it is supported swift 3 version.

[2019-09-05 10:31] iFaxiOS opened #111 "Getting crash"
Some time getting crash long this SDK, I shared crash logs details following:

Crashed: com.apple.main-thread
EXC_BREAKPOINT 0x00000001ef8d4f94
0
libswiftCore.dylib
<redacted> + 364
1
(Missing)
2
(Missing)
3
InteractiveSideMenu
$s19InteractiveSideMenu0cA10TransitionC9handlePan33_F739404E431263E64308A24F6DED6690LL10recognizerySo22UIPanGestureRecognizerC_tF + 648
4
InteractiveSideMenu
$s19Interactiv

[2019-09-17 18:50] yberdnikov opened #112 "iOS 13 support"
Right now when you select new controller, it shows black screen. Same code works on iOS 12 and earlier versions.

[2019-09-18 12:54] iosMentalist commented on #112
Same here. I also tried the forked repos that support swift 5.0 but same result.

[2019-09-20 23:41] kiwiswift commented on #112
Try setting the **modalPresentationStyle** of menu viewController to **fullScreen** as below. It should solve the problem.

[code]

[2019-09-21 05:16] kanagudurai commented on #112
Solved my problem. Thank you so much

[2019-09-22 09:53] Mohamed-Akl opened #113 "localization"
how can i use this Menu from right side?!

[2019-09-22 11:55] Mohamed-Akl commented on #100
HostViewController will be the initial if you want to use single Storyboard.

[2019-09-25 06:21] Kaustubh2018 commented on #112
Awsome Support By you guys.. Thank you guys

[2019-09-25 12:05] iosMentalist commented on #112
did u use the latest repo?

[2019-10-03 09:43] fatihkan commented on #112
Thank you. If you change this code only need this code line self.menuViewController.modalPresentationStyle = .fullScreen

[2019-10-14 12:38] patriksharma opened #114 "App crashing on IOS 13"
App crashing as soon as I click on Side menu button

[code]

[2019-10-15 12:46] numanayhan commented on #114
Duplicate of Me to app Crashing

[2019-10-15 12:47] patriksharma commented on #114
@numanayhan  I have done a temporary fix. Comment statusbar is hidden and status bar line in repo

[2019-10-15 12:49] numanayhan commented on #112
Thanks bro  .fullScreen is fixed this isuues

[2019-10-15 13:52] patriksharma commented on #114
[code]

[2019-10-26 10:46] doitwithdk commented on #112
Perfect fix. @handsomecode pls accept the PR

[2019-10-29 11:44] jbarros35 commented on #114
its all broken. you cannot rift without a fork.

[2020-01-02 21:15] #114 closed

[2020-01-02 21:16] #112 closed

[2020-01-22 06:50] Kaustubh2018 commented on #91
Same thing I faced

[2020-01-22 06:50] Kaustubh2018 commented on #91
Need Answer from owner

[2020-01-22 11:30] maryanakotova opened #115 "Screen becames black"
Screen of presented ViewController became black with some delay after presenting (when selecting any item from menu).
Tested on iOS 13.2, iPhoneX, SE.

[2020-01-22 12:59] gunjan33 commented on #115
Try setting the **modalPresentationStyle** of menu viewController to **fullScreen** as below. It should solve the problem.
`self.menuViewController.modalPresentationStyle = .fullScreen`

For more details please refer [https://github.com/handsomecode/InteractiveSideMenu/issues/112#issuecomment-533745269](url)

[2020-01-29 05:37] baluchamy opened #116 "Screen came black in ios 13"
I am trying your solution but it not work for me

[2020-01-29 11:34] maryanakotova commented on #115
Thank you!

[2020-01-29 11:37] #115 closed, assigned to nobody

[2020-02-19 09:22] mayuritalaviya commented on #116
I am also facing the same issue but still not get any solution.
After so many trails I know that this is because of iOS-13 new SceneDelegate. But not able to fix the issue.
From April 2020 Onward Apple accepts only Xcode 11 uploaded build. So before that, I want to fix this issue.

It would be great if someone has a proper solution.

[2020-02-25 18:27] DnyaneshwarWagh commented on #116
set presentation style to "Full Screen" of all your MenuContainerViewController, MenuViewController & SideMenuItemContent

[2020-02-26 07:49] torunf commented on #116
yes worked for me

after that

`        menuViewController = self.storyboard!.instantiateViewController(withIdentifier: "NavigationMenu") as? MenuViewController`

add this line :
`        menuViewController.modalPresentationStyle = .fullScreen`

[2020-03-06 11:09] SyedRafayAbrar commented on #107
Mine too

[2020-05-01 14:01] amitsanvedi opened #117 "Pod Update not giving latest code ,Missing black screen code"
Hi,

I am facing block screen issue and when I went for update the pod got success but when I checked your latest fix so that was missing and also check
Version : 2.3
Build : 1.0 and I think you have fixed this in build 1.1 so please let me know how to get latest code.

[2020-05-22 19:07] balamithun commented on #116
This really worked in my project.
Solution for InteractiveSideMenu pod Black Screen.
Thanks for your work @torunf 👏🏻👏🏻👏🏻👏🏻appreciated.

[2020-07-15 21:13] mamomia commented on #113
did u find anything? :D

[2020-07-15 21:18] mamomia commented on #46
anything yet on this?

[2020-09-09 08:17] jyotisirswa commented on #82
Transition issue is still there.

[2020-09-15 08:18] bhatti-saqib commented on #110
In the Pods Target, change the Swift version from 3.0 to 5.0 and it will work.

[2020-12-14 09:01] ArpitaShringi opened #119 "Right Menu"
How would I open side menu from right side in case of Arabic Localisation

[2020-12-17 12:49] hegdesushant07 commented on #119
Require dynamic option for both left and right menu

[2022-06-25 11:50] #60 closed